PORT_DEV=3000
ORACLE_CLIENT_MODE=thick
ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient_23_5
ORACLE_DB_USER=
ORACLE_DB_PASSWORD=
ORACLE_DB_CONNECT_STRING=
ORACLE_POOL_MAX=5
ORACLE_POOL_MIN=0
ORACLE_POOL_ACQUIRE=30000
ORACLE_POOL_IDLE=10000
SEQUELIZE_LOGGING=false
MIGRATIONS_TABLE_NAME=SEQUELIZE_META
ORACLE_DEFAULT_SCHEMA=
ORACLE_ALLOWED_SCHEMAS=
ORACLE_TARGET_SCHEMA=
